@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    font-family: 'Playfair Display', serif;
}

h1{
    font-weight: bolder
}

p{
    font-weight:lighter
}
/* unvisited link */
a:link {
    color: hsl(0, 18%, 30%);
  }
  
  /* visited link */
  a:visited {
    color: #6d3b1ede;
  } y
  
  /* mouse over link */
  a:hover {
    color: #636044;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }
  input[type=submit]{
    background-color: rgb(143, 99, 34);
    padding: 8px;
    border-radius: 4px;
   }
   input[type=submit]:active{
    background-color: rgb(224, 193, 127);
   }
   input[type=submit]:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(228, 221, 214, 0.555)
   }

   input[type=text] {
    width: 20%;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    border: 2px solid rgb(173, 133, 57);
   }

    .float-right{
      float:right;
    }
    .float-left {
      float:left;
    }
    