@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    font-family: 'Playfair Display', serif;
}

h1{
    font-weight: bolder
}

p{
    font-weight:lighter
}
/* unvisited link */
a:link {
    color: hsl(0, 54%, 74%);
  }
  
  /* visited link */
  a:visited {
    color: #6d3b1ede;
  } y
  
  /* mouse over link */
  a:hover {
    color: #636044;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  }